In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline

In [4]:
social_data = pd.read_csv('Social_Network_Ads.csv')

In [5]:
social_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [6]:
social_data.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [23]:
# Creating input data
X = social_data[['Age','EstimatedSalary']]

Y = social_data['Purchased'].values

In [24]:
# Normalize the data as svm does not does it for u
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

In [25]:
X = sc.fit_transform(X)

In [28]:
# split the data
from sklearn.model_selection import train_test_split

In [29]:
X_train ,X_test , Y_train , Y_test = train_test_split(X,Y,test_size = 0.25 , random_state = 0)

In [32]:
# Creating a svm model
from sklearn.svm import SVC
# SVC stands for support vector classifier

In [33]:
svc = SVC(kernel='linear' , random_state=0)

In [34]:
svc.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [36]:
y_pred = svc.predict(X_test)

In [39]:
error = y_pred - Y_test

In [43]:
from sklearn.metrics import confusion_matrix

confusion_matrix(Y_test , y_pred)

array([[66,  2],
       [ 8, 24]])