In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('Ads_CTR_Optimisation.csv')

In [3]:
dataset.head(5)

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

Each entry is a customer and the possibility that customer will click on the ad

In [4]:
dataset.shape

(10000, 10)

In [5]:
dataset.columns.shape

(10,)

In [6]:
# variable decleration
N = dataset.shape[0]               #total customer count
d = dataset.columns.shape[0]       #distinct ad count 
ad_selected = []                   #contains the ad selected for each N rounds
total_reward = 0                   #the total reward
number_of_selections = [0] * d     #how many times each ad is selected 
sum_of_rewards = [0] * d           #how many rewards did each ad got

In [7]:
# logic development
import math
# we have to run the loop for each customer
for n in range(0,N):
    ad = 0
    max_upper_bound = 0
    for i in range(d):    # inner loop is for each ad
        if (number_of_selections[i] > 0) :
            average_reward = sum_of_rewards[i] / number_of_selections[i]
            delta_i = math.sqrt(3/2 * math.log(n+1) / number_of_selections[i])
            upper_bound = average_reward + delta_i
        else : 
            upper_bound = 1e400
        if upper_bound > max_upper_bound:
            max_upper_bound = upper_bound
            ad = i
    ad_selected.append(ad)
    number_of_selections[ad] += 1
    reward = dataset.values[n,ad]
    sum_of_rewards[ad] += reward
    total_reward += reward

In [8]:
total_reward

2178

In [9]:
number_of_selections

[705, 387, 186, 345, 6323, 150, 292, 1170, 256, 186]

In [10]:
sum_of_rewards

[120, 47, 7, 38, 1675, 1, 27, 236, 20, 7]

From this we get to know that the ad at index 4 ie ad5 is mostly clicked by the users